<h4 class="h9">{{ title }}</h4>
    <div class="filter">
        <!-- <div class="filter-child">
            <mat-form-field>
                <mat-label> Data Type</mat-label>
                <mat-select>
                    <mat-option *ngFor="let data of dropDownData" [value]="data" (click)='selectedDataType(data)'> {{data}} </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
     -->
        <div class="filter-child">
            <mat-form-field>
                <mat-label> Chart Type</mat-label>
                <mat-select>
                    <mat-option *ngFor="let type of chartTypes" [value]="data" (click)='selectedChartType(type)'> {{type}} </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <hr>
<svg width="1000" height="500"></svg>
